<%- include("partials/header"); -%>
<h1>Edit</h1>

<form action="/edit" method="post">
    <div class="form-group">
        <label for="title" class="">Title</label>
        <input id="title" class="form-control" type="text" name="title" value="<%= title %>">
        <input id="postId" name="postId" type="hidden" value="<%= postId %>" />
        <label for="content">Post</label>
        <textarea name="content" id="content" rows="8" cols="80" class="form-control"><%= content %></textarea>
    </div>

    <button type="submit" class="btn btn-primary" name="submit">Save Changes</button>

</form>

<form action="/delete" method="post" class="form-inline">

    <button name="btnDelete" type="submit" class="btn btn-danger btn-md" value="<%=postId%>">Delete</button>


</form>

<%- include("partials/footer"); -%>