<%- include("partials/header"); -%>
<h1>Edit</h1>

<form action="/edit" method="post">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="title" value="<%= title %>" required autofocus>
        <input name="postId" type="hidden" value="<%= postId %>" />
        <label>Post</label>
        <textarea name="content" rows="8" cols="80" class="form-control" required><%= content %></textarea>
    </div>

    <button type="submit" class="btn btn-primary" name="submit">Save Changes</button>

</form>

<form action="/delete" method="post" class="form-inline">

    <button name="btnDelete" type="submit" class="btn btn-danger btn-md" value="<%=postId%>">Delete</button>


</form>

<%- include("partials/footer"); -%>